# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
files_for_tests/*
*$py.class
*Project*-*.o*
*Project*-bundle*
*iter-1_old*
*old_all_par*
*old_data*
*no_outlier*
*bad_iter2*
*Eot_*
*LHS_5*
analysis_old*
*Build_GPs/analysis/MeOH/ld_iters/old/*
*Build_GPs/analysis/Gly/vle_iters/iter-1/close_st_data_gps/*
*bndl_out*


#Specific PDF Files
*diff_coeff.pdf
*Build_GPs/analysis/*/*/iter-*/fig_gp_examples*.pdf
*Build_GPs/analysis/*/*_iters/iter-*/*_mse_below625.pdf
*classifier.pdf
*prop_preds_best*.pdf
*prop_preds_worst*.pdf
*prop_preds.pdf
*m*pd_obj*.pdf
*A.pdf
*_corr.pdf
*MAE.pdf
*MAPD.pdf
*parallel_plot_*.pdf
*ms_val/*.csv
*ACN*
*DCM*
density_iters/old/*
*DEC_old*
*old2*
*THF*
*old_output_files*
*Opt_ES/gemc_val/*
*Opt_ES/ift_val/*
*Opt_ES/opt_at_params/*
*Opt_ES/analysis/AT-0/ms_val/*
*Opt_ES/analysis/at_00/ExpVal/ms_val/*

# C extensions
*.so

.vscode
*atom_type_all.py
*.o*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

#Signac workspaces
# Ignore everything inside workspace dirs
*Build_GPs/ld_iters/workspace/*
*Build_GPs/vle_iters/workspace/*
*Opt_ES/gemc_val/workspace/*
*Opt_ES/gemc_val_no_opt/workspace/*
*Opt_ES/gemc_val_opt/workspace/*
*Opt_ES/ift_val/workspace/*
*Opt_ES/ift_val_no_opt/workspace/*
*Opt_ES/ift_val_opt/workspace/*
*Opt_ES/opt_at_params/workspace/*
*Opt_ES/opt_at_params_new/workspace/*

# Re-include parent dirs so negation works
!*Build_GPs/ld_iters/workspace/
!*Build_GPs/vle_iters/workspace/
!*Opt_ES/gemc_val_no_opt/workspace/
!*Opt_ES/gemc_val_opt/workspace/
!*Opt_ES/ift_val_no_opt/workspace/
!*Opt_ES/ift_val_opt/workspace/
!*Opt_ES/opt_at_params_new/workspace/

# Re-include specific directories
!*Build_GPs/ld_iters/workspace/0a1f55b1bd4000f7b65d8da83ec500a9/*
!*Build_GPs/vle_iters/workspace/0ade3504e9ac2226e515b931ed49fbec/*
!*Opt_ES/gemc_val_no_opt/workspace/0b6a289cb7b8f0c44f4d79d5b388097c/*
!*Opt_ES/gemc_val_opt/workspace/00ad476c7aa5d3e37d3297d989576bd8/*
!*Opt_ES/ift_val_no_opt/workspace/0b60b08441c96234bd55e463a107bcfb/*
!*Opt_ES/ift_val_opt/workspace/0db3c29cb39c91388bf8246b23419048/*
!*Opt_ES/opt_at_params_new/workspace/2b189e6ebd576f7c0bf1e67b265f3e3e/*

*archive_res_tar.gz
*.signac*
*signac_project_document*
*Project-bundle*